{{- $fullName := include "safe-settings.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: deployment-config
data:
  deployment-config.yml: |
    {{- required "A valid appEnv.APP_ID is required!" .Values.deploymentConfig | toYaml | nindent 4 }}
